{
  "extends": "airbnb-base/legacy",
  "env": {
    "amd": true
  },
  "globals": {
    "log": true,
    "alert": true,
    "confirm": true,
    "document": true,
    "nlapiAddDays": true,
    "nlapiAttachRecord": true,
    "nlapiCancelLineItem": true,
    "nlapiCommitLineItem": true,
    "nlapiCopyRecord": true,
    "nlapiCreateError": true,
    "nlapiCreateFile": true,
    "nlapiCreateForm": true,
    "nlapiCreateList": true,
    "nlapiCreateRecord": true,
    "nlapiCreateSearch": true,
    "nlapiCreateSubrecord": true,
    "nlapiCreateTemplateRenderer": true,
    "nlapiDateToString": true,
    "nlapiDeleteRecord": true,
    "nlapiDetachRecord": true,
    "nlapiDisableField": true,
    "nlapiEncrypt": true,
    "nlapiEscapeXML": true,
    "nlapiFindLineItemValue": true,
    "nlapiFormatCurrency": true,
    "nlapiGetContext": true,
    "nlapiGetCurrentLineItemIndex": true,
    "nlapiGetCurrentLineItemText": true,
    "nlapiGetCurrentLineItemValue": true,
    "nlapiGetField": true,
    "nlapiGetFieldMandatory": true,
    "nlapiGetFieldText": true,
    "nlapiGetFieldTexts": true,
    "nlapiGetFieldValue": true,
    "nlapiGetFieldValues": true,
    "nlapiGetLineItemCount": true,
    "nlapiGetLineItemText": true,
    "nlapiGetLineItemValue": true,
    "nlapiGetLocation": true,
    "nlapiGetNewRecord": true,
    "nlapiGetOldRecord": true,
    "nlapiGetRecordId": true,
    "nlapiGetRecordType": true,
    "nlapiGetRole": true,
    "nlapiGetSubsidiary": true,
    "nlapiGetUser": true,
    "nlapiGetWebContainer": true,
    "nlapiInsertLineItem": true,
    "nlapiInsertSelectOption": true,
    "nlapiLoadFile": true,
    "nlapiLoadRecord": true,
    "nlapiLoadSearch": true,
    "nlapiLogExecution": true,
    "nlapiLookupField": true,
    "nlapiMergeRecord": true,
    "nlapiPrintRecord": true,
    "nlapiRemoveLineItem": true,
    "nlapiRemoveSelectOption": true,
    "nlapiRemoveSubrecord": true,
    "nlapiRequestURL": true,
    "nlapiResolveURL": true,
    "nlapiScheduleScript": true,
    "nlapiSearchRecord": true,
    "nlapiSelectLineItem": true,
    "nlapiSelectNewLineItem": true,
    "nlapiSelectNode": true,
    "nlapiSelectNodes": true,
    "nlapiSelectValue": true,
    "nlapiSendEmail": true,
    "nlapiSetCurrentLineItemMatrixValue": true,
    "nlapiSetCurrentLineItemValue": true,
    "nlapiSetFieldDisabled": true,
    "nlapiSetFieldText": true,
    "nlapiSetFieldTexts": true,
    "nlapiSetFieldValue": true,
    "nlapiSetFieldValues": true,
    "nlapiSetLineItemDisabled": true,
    "nlapiSetLineItemValue": true,
    "nlapiSetRedirectURL": true,
    "nlapiStringToDate": true,
    "nlapiStringToXML": true,
    "nlapiSubmitField": true,
    "nlapiSubmitFile": true,
    "nlapiSubmitRecord": true,
    "nlapiTransformRecord": true,
    "nlapiViewSubrecord": true,
    "nlapiXMLToPDF": true,
    "nlapiXMLToString": true,
    "nlapiYieldScript": true,
    "nlobjError": true,
    "nlobjSearchColumn": true,
    "nlobjSearchFilter": true,
    "setInterval": true,
    "setTimeout": true,
    "window": true
  },
  "rules": {
    "indent": [ 2, 4 ],
    "spaced-comment": 0,
    "no-unused-vars": [
      2,
      {
        "vars": "all",
        "args": "none",
        "varsIgnorePattern": "beforeLoad"
      }
    ],
    "new-cap":"off",
    "camelcase":"off",
    "block-scoped-var":"off",
    "no-spaced-func":"off",
    "linebreak-style": "off", // Use CRLF (Windows Default) vs LF
    "padded-blocks": "off",
    "func-names": "off",
    "max-len": [ "error", 170 ],
    "one-var-declaration-per-line": "off",
    "one-var":"off",
    "no-trailing-spaces": ["error", {"skipBlankLines": true}]
     }
}
